<!-- includes/navbar.njk replaced -->
<!-- Navbar include removed because Eleventy was removed. Use root index.html for the canonical site markup. -->
<nav class="site-nav">
  <div class="nav-inner">
    <a class="brand" href="/">African Photos and Videos</a>
    <ul class="nav-links">
      <li><a href="/images/">Images</a></li>
      <li><a href="/videos/">Videos</a></li>
      <li><a href="/aerials/">Aerials</a></li>
      <li><a href="/bookaservice/">Book a Service</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>
</nav>
